.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 87vh;
    background-color: white;
    margin: 20px 20px 20px 10px;
    padding: 50px;
  }

  .profile-picture-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile-details{
    margin-bottom: 20px;
    
  }

  .profile-details-subtext{
    margin-bottom: 20px;
  }

  .profile-picture-container{
    background-color: #fafafa;
    /* margin: 20px 0px; */
    padding: 20px;
  }

  .profile-picture-text{
    width: 30%;
  
 
  }

  .upload-image-container{
    width: 60% ;
  }

  .form{
    background-color: #fafafa;
    padding: 20px;
  }
 

  .form_control{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }

 .label-container {
/* width: 30%; */

 }

 .label-container label{

 }

 .label-container span{
   color: red;
 }
  

 .inputfield-container{
   width: 60%;
   
 }