

.customize {
  background-color: #fafafa;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
   height: 100vh; 
}

.Navbar {
  display: flex;
  justify-content: space-between;
  padding:20px; 
  align-items: center;

}

.navlinks-button {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.navlinks {
  display: flex;
  width: 27%;
  justify-content: space-between;
}

.custom-logo-container {
}

.customContainer {
  display: flex;
   justify-content: space-between; 
  /* height: 90%; */
  /* padding: 16px 24px; */
  background-color: rgb(187, 81, 81);
  height: 90vh;
}

.phone-prev {
  width: 40%;
  background-color: white;
  display: flex;
  align-items: center; 
 justify-content: center;
 margin: 20px 10px 20px 20px;
  /* padding: 100px 0px; */
}

.phonePreview{
  /* width: 100%; */
  background-color: thistle;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.phonePreview svg{
  /* width: 80%; */
  width: 90%;
  height: 100%;

}

.custom-links {
  width: 60%;
  margin: 20px 20px 20px 10px;
  /* padding: 100px 0px; */
  
}



/* customelink.tsx styling*/

.customelinkcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
  background-color: white;
}

.edit-links-remove {
   padding: 50px;  
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  height: 90%;

 
}

.your-links {
  margin-bottom: 10px;
}

.add-edit-remove{
 
  margin-bottom: 35px;
}

.add-new-link {
  margin-bottom: 20px; 

}

.link-middle-addnewlinkcontainer{
 margin-top: 20px;
}


.link-middle {
  background-color: #fafafa;
 padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  
}

.addnewlinkcontainer{
  
  overflow-y: scroll;
  height:70%;
 
}

.link-middle-image {
   margin-bottom: 40px; 
}

.link-middle-header {
  margin-bottom: 30px; 
}

.link-middle-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-middle-mbody {
  text-align: center !important;
  width: 45%;
  line-height: 24px;
}

.custome-save-button {
  padding: 20px;  
  background-color: white;
  border-top: 1px solid gainsboro;
  display: flex;
  justify-content: end;
}

.custom-button {
  width: 10% !important;
}
