.customize {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(54, 114, 167);

}




.customContainer {
  display: flex;
  justify-content: space-between;
  /* padding: 16px 24px; */

  /* background-color: white; */
}

.phone-prev {
  width: 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* padding: 100px 0px; */
}

.phonePreview {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 20px 10px 20px 20px;
}

/* .phonePreview svg{
  
  width: 90%;
  height: 100%;

} */

.custom-links {
  /* width: 60%; */

  /* padding: 100px 0px; */
}

/* customelink.tsx styling*/

.customelinkcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 87vh;
  background-color: white;
  margin: 20px 20px 20px 10px;

}

.customForm{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.edit-links-remove {
  padding: 30px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  /* height: 90%; */
}

.your-links {
  margin-bottom: 10px;
}

.add-edit-remove {
  margin-bottom: 30px;
}

.add-new-link {
  margin-bottom: 15px;
}

.link-middle-addnewlinkcontainer {
  margin-top: 20px;
}

.link-middle {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.addnewlinkcontainer {
  max-height: 480px;
  overflow-y: auto;
}

.link-middle-image {
  margin-bottom: 40px;
}

.link-middle-header {
  margin-bottom: 30px;
}

.link-middle-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-middle-mbody {
  text-align: center !important;
  width: 45%;
  line-height: 24px;
}

.custome-save-button {
  padding: 20px;
  border-top: 1px solid gainsboro;
  display: flex;
  justify-content: end;
}

.custom-button {
  width: 10% !important;
}

.preview-sign{
  display: flex;
  justify-content: space-between;
  width: 23%;
}

/* Media query for lapptop*/

@media screen and (max-width: 1440px) {
  .navlinks {
    width: 35%;
  }

  .customelinkcontainer {
    width: 60%;
    height: 84vh; /* check later*/
    margin: 20px 20px 20px 10px;
  }

  .addnewlinkcontainer {
    max-height: 300px; /* check later*/
    overflow-y: auto;
  }

  .phonePreview svg {
    width: 50%;
    height: 100%;
  }

  .link-middle {
    padding: 0px 0px 20px 0px;
  }

  .link-middle-image {
    margin-bottom: 20px;
  }

  .link-middle-header {
    margin-bottom: 15px;
  }

  .link-middle-mbody {
    width: 70%;
  }
}


/*Ipad Pro*/

@media (max-width: 1024px) {
  .phonePreview{
    display: none;
  }

  .customContainer {
   width: 100%;
  }

  .customelinkcontainer {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    width: 100%;
    height: unset;
    /* background-color: white;
    margin: 20px 20px 20px 10px; */
  }
  

}
