.linkTagContainer{
    width: 100%;
    height: 12%;  
    display: flex;
    justify-content: space-between;
    padding: 20px 10px ;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 25px;
    
}

.linkTagSubContainer{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 70%; 

    /* height: auto;  */

}

.foreignObjContainer{

    width:75% ;
    height:48%;
    x:38; 
    y:calc(100% - 50% - 40px); 
}

.scrollableLink{
    overflow: auto;
    width: 100%;
    height: 100%;
}


.linkImage{
    width: 15%;
    fill: white;

}
    

.linkArrowContainer{
    width: 10%; 
    /* display: none; */
}

.linkArrow{

}

.labelText{
    color: white !important;
    margin-left: 10px;
    font-size: 14px !important;
}

.nameEmailForeignObject{
    width: 100%;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.textFO{
    text-align: center !important;
   
}

.textFNAME{
    margin-right: 5px;
}

.textLNAME{

    margin-left: 5px;
}

.textFONAMES{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.rounded-image-container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 

  
  }
  .rounded-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  .rounded-image-foreign{

  }

  .linkTagScrollContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }