@font-face {
    font-family: "instrumentSansVariable";
    src: url("../../assets/fonts/InstrumentSans-VariableFont_wdth\,wght.ttf")
      format("truetype");
  }
  
  @font-face {
    font-family: "instrumentSansItalic";
    src: url("../../assets/fonts/InstrumentSans-Italic-VariableFont_wdth\,wght.ttf")
      format("truetype");
  }


.input-container{
display: flex;
align-items: center;
justify-content: space-between;
border: 1px solid #D9D9D9;
padding: 12px 16px;
border-radius: 8px;
font-family: "instrumentSansVariable";
}

.image{
width: 5%;
}

.image img{
    width: 100%;
}



.input-and-error{
    display: flex;
    width: 93%;
    background-color: antiquewhite;  
    align-items: center;
    position: relative;
    font-family: "instrumentSansVariable";
}

input{
    width: 100%;
    border: none;
    color: black;
    font-family: "instrumentSansVariable";
}

input:focus{
    border: none;
    outline: none;
}

.error-span{
    position: absolute;
    z-index: 1;
    font-size: 12px;
    color: #FF3939;
    right: 0;

}

.input-container:focus-within {
    border-color: #633CFF;
    box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  }

  .input-container.error {
    border-color: #ff0000;
  }

  .input-and-error input.error-text {
    color: #ff0000; 
  }