

  .custom-select {
    position: relative;
    /* font-size: 1rem; */
    color: #333;
  }
  
  .select-button {
    width: 100%;
    font-size: 1.15rem;
    background-color: #fff;
    padding: 0.675em;
    border: 1px solid #caced1;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

  }

  .select-button:focus-within {
    border-color: #633CFF;
    box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  }

  .dropdown-selected-value{
    display: flex;
    width: 60%;
  }

  .image{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

 
  .prompt-image{
    /* width: 100%; */
  }


  .selected-value {
    text-align: left;
    font-size: 16px;
  }
  
  .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #633CFF;
    transition: transform ease-in-out 0.3s;
  }
  
  .select-dropdown {
    position: absolute; 
    list-style: none;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    transition: 0.5s ease;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
    z-index: 20;
  }
  
  .select-dropdown:focus-within {
    box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
  }
  
  .select-dropdown li {
    position: relative;
    cursor: pointer;
    display: flex;
    /* gap: 3rem; */
    align-items: center;
  }

  .select-dropdown li:not(:last-child) {
    border-bottom: 1px solid #ccc; 
  }
  
  .linkarraylabel {
    width: 100%;
    padding: 15px 5px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .linkarraylabel img{
    width: 15px;
  }
  
  .select-dropdown::-webkit-scrollbar {
    width: 7px;
  }
  
  .select-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }
  
  .select-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }
  
  .select-dropdown li:hover,
  .select-dropdown input:checked ~ .linkarraylabel {
    background-color: #f2f2f2;
  }
  
  .select-dropdown input:focus ~  .linkarraylabel {
    background-color: #dfdfdf;
  }
  
  .select-dropdown input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
  }
  
  /* Interactivity */
  
  .custom-select.active .arrow {
    transform: rotate(180deg);
  }
  
  .custom-select.active .select-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }



  @media (max-width: 430px){
    .dropdown-selected-value{
      width: 100%;
    }
  }