

  .custom-select {
    position: relative;
    width: 400px;
    max-width: 100%;
    font-size: 1.15rem;
    color: #333;
    margin-top: 3rem;
  }
  
  .select-button {
    width: 100%;
    font-size: 1.15rem;
    background-color: #fff;
    padding: 0.675em 1em;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .select-button:focus-within {
    border-color: #633CFF;
    box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  }

  .dropdown-selected-value{
    display: flex;
  
    width: 60%;
  }

  .image{
    margin-right: 10px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image img{
    width: 100%;
  }
  
  .selected-value {
    text-align: left;
  }
  
  .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #633CFF;
    transition: transform ease-in-out 0.3s;
  }
  
  .select-dropdown {
    /* position: absolute; */
    list-style: none;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    transition: 0.5s ease;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
  }
  
  .select-dropdown:focus-within {
    box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
  }
  
  .select-dropdown li {
    position: relative;
    cursor: pointer;
    display: flex;
    /* gap: 3rem; */
    align-items: center;
  }

  .select-dropdown li:not(:last-child) {
    border-bottom: 1px solid #ccc; 
  }
  
  .select-dropdown li label {
    width: 100%;
    padding: 12px 12px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .select-dropdown::-webkit-scrollbar {
    width: 7px;
  }
  
  .select-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }
  
  .select-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }
  
  .select-dropdown li:hover,
  .select-dropdown input:checked ~ label {
    background-color: #f2f2f2;
  }
  
  .select-dropdown input:focus ~ label {
    background-color: #dfdfdf;
  }
  
  .select-dropdown input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
  }
  
  /* Interactivity */
  
  .custom-select.active .arrow {
    transform: rotate(180deg);
  }
  
  .custom-select.active .select-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
  
  /* Aesthetics */
  * {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
  