@font-face {
  font-family: "instrumentSansVariable";
  src: url("../../assets/fonts/InstrumentSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "instrumentSansItalic";
  src: url("../../assets/fonts/InstrumentSans-Italic-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

.Mheader {
    color:  #333;
font-family: "instrumentSansVariable";
font-size: 32px;
font-weight: 700;
text-align: left;
  }


.Sheader{

}

.Mbody {
  font-family: "instrumentSansVariable";
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}


.Sbody{
    color:  #333333;
    font-family: "instrumentSansVariable";
    font-size: 12px;
    font-weight: 400;
    text-align: left;

}
