.addlink-container{
    /* background-color: gainsboro; */
width: 100%;
}

.addlinknumber-remove{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    align-items: center;
}



.platform-link{
margin-bottom: 15px;
color: #333;
}

.remove-button{
    color: grey;
    cursor: pointer;
}

.remove-button:hover{
    color: black
}

.input-container{
    /* margin-bottom: 10px; */
}