.addlink-container{
    background-color: #fafafa;
    padding: 20px;
    margin-bottom: 20px;
}

.platforms-container{
    margin-top: 10px;
    /* margin-bottom: 20px; */
    
}

.addlinknumber-remove{
display: flex;
justify-content: space-between;
align-items: center;
}



.platform-link{
    margin-bottom: 20px;
}

.remove-button{
    border: none;
    text-decoration: none;
    background-color: none !important;
    color:  black;
    cursor: pointer;

}

.remove-button:hover{
  
}

.input-container{
    /* margin-bottom: 10px; */
}


@media (max-width: 1024px){
    .addlink-container{
        padding: 40px 20px;
        margin-bottom: 40px;
    }
}

@media (max-width: 430px){
    .addlink-container{
        padding: 20px 20px;
        margin-bottom: 20px;
 
    }
}
