.tabs{
    background-color: #EFEBFF;
    color: #633CFF;
    padding: 11px 27px; 
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    font-size: 14px;
}

.tabs span{
    filter: invert(21%) sepia(52%) saturate(3814%) hue-rotate(244deg) brightness(112%) contrast(110%);
    fill: var(--Purple, #633CFF);
    margin-right: 5px;
}



.tabs:hover{
    background-color: unset;
    color: #633CFF;
}

[data-tabsType="default"]{
    background-color: unset;
    color: #737373;
}


[data-tabsType="default"] span{
    
    filter: unset;
}

@media  (max-width: 567px){

    .tabsText{
        font-size: 12px;
    }

}


/* Iphone 14 */

@media screen and (max-width: 430px){
    .tabsText{
        display: none;
    }
    
    .tabsImg{
        width: 2rem;
    }

    .tabs span{
    filter: unset;
    fill: var(--Purple, #633CFF);
    margin-right: 5px;
}
}